/* header */
a, .nav-link, .navbar-toggler-icon {
    color: currentColor;
}

.my_profile_pic {
    max-width: 200px;
}

.my_main-header {
    color: white !important;
    background-color: #2C3E50;
}

/* Hero */

.my_hero {
    background-color: #1ABC9C;
    color: white;
}

.square-test {
    /* background-color: red; */
    /* width: px; */
    /* height: 150px; */
}

 
