/* header */

.my_main-header {
    color: white;
    background-color: #2C3E50;
}

nav a {
    color: currentColor;
}

/* Hero */

.my_hero {
    background-color: #1ABC9C;
}

.square-test {
    background-color: red;
    width: 150px;
    height: 150px;
}

 
